// Theme colors
#main-wrapper{
    &[data-layout="vertical"], &[data-layout="horizontal"]{
        /*This is for the logo bg*/
        .topbar .top-navbar .navbar-header{
            &[data-logobg="skin6"]{
                background: rgba(0, 0, 0, 0.05);
            }
        }
        .left-sidebar{
            &[data-sidebarbg="skin6"]{
                background: $skin6;
                .sidebar-nav {
                    ul {
                        background: $skin6;
                       .sidebar-item {
                           .sidebar-link {
                               color: $sidebar-text-dark;
                               i{
                                   color: $sidebar-icons-dark;
                               }
                               &.active {
                                    background: $themecolor-alt;
                                    color: $skin6;
                                    font-weight: 400;
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                                    i{
                                        color: $skin6;
                                    }
                                    &:hover {
                                        color: $skin6;
                                        i {
                                            color: $skin6;
                                        }
                                    }
                                }
                                &:hover {
                                    color: $themecolor-alt;
                                    i{
                                        color: $themecolor-alt;
                                    }
                                }
                           }
                        }
                        .nav-small-cap {
                            color: $sidebar-text-dark;
                            opacity: 0.7;
                        }
                    }
                    .has-arrow {
                        &::after {
                           border-color: $sidebar-text-dark; 
                        }
                    }
                    .user-content, .user-name, .user-email{
                        color:$theme-dark;
                    }
                }
                .create-btn {
                    background: $cyan; 
                }
            }
        }
    }
}
