// Sidebar
$sidebar-link-padding:14px 35px 14px 15px;
$sidebar-icon-size:23px;
$sidebar-first-level-padding:0 0 10px 0;
$sidebar-first-level-link-padding: 10px 15px;
$sidebar-first-level-icon-size:14px;

/*******************
Main sidebar
******************/

.left-sidebar {
    position: absolute;
    width: $sidebar-width-full;
    height: 100%;
    top: 0px;
    
    z-index: 10;
    padding-top: 70px;
    background: $sidebar;
    box-shadow: $shadow;
}

/*******************
sidebar navigation
******************/
.scroll-sidebar {
    height: calc(100% - 20px);
    position: relative;
}

.sidebar-nav {
    padding: 15px;
    ul {
       .sidebar-item {
        margin-bottom: 10px;
           .sidebar-link {
                color: $sidebar-text;
                padding:$sidebar-link-padding;
                display: flex;
                white-space: nowrap; 
                align-items: center;
                line-height: 22.5px;
                font-weight: 300;
                padding: 8px 35px 8px 15px;
                font-size: 15px;
                border-radius: 4px;
                white-space: nowrap;
                i {
                    width: 27px;
                    font-size: 21px;
                    font-style: normal;
                    color: $sidebar-icons;
                    display: inline-block;
                    text-align: center;
                }
                .hide-menu {
                    font-size: 15px;
                }
            }
           &.selected > .sidebar-link{
               /*background: rgba(0, 0, 0, 0.04);*/
               opacity: 1;
           }
           /*******************
           First level
           ******************/
           .first-level {
                padding: $sidebar-first-level-padding;
               .sidebar-item.active .sidebar-link{
                   opacity: 1;
               }
                .sidebar-item .sidebar-link {
                    padding: $sidebar-first-level-link-padding;
                    i{
                        font-size:$sidebar-first-level-icon-size;
                    }
                }
            }  
        }
        // button warning
        .upgrade-btn {
            .btn-warning {
            &:hover {
                    box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2)!important;
                }
            }
        }
        /*******************
         Small cap
         ******************/
        .nav-small-cap {
            font-size: 12px;
            padding:$sidebar-link-padding;
            white-space: nowrap;
            display: flex;
            align-items: center;
            line-height: 30px;
            margin-top: 10px;
            color: $sidebar-text;
            opacity: 0.3;
            text-transform: uppercase; i{line-height: 30px; margin:0 5px;}
        }
    }
    >#sidebarnav >.sidebar-item >.sidebar-link:hover{
        /*background: rgba(0, 0, 0, 0.04);*/
    }
}
/*******************
 common m-p removed
******************/
.sidebar-nav{
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
        }
    }
}
.collapse.in {
    display: block;
}
/*******************
Down arrow
******************/
.sidebar-nav .has-arrow {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: $sidebar-text;
        margin-left: 10px;
        -webkit-transform: rotate(135deg) translate(0, -50%);
        -ms-transform: rotate(135deg) translate(0, -50%);
        -o-transform: rotate(135deg) translate(0, -50%);
        transform: rotate(135deg) translate(0, -50%);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        top: 26px;
        right: 15px;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}


/*.sidebar-nav .active > .has-arrow::after,*/

/*.sidebar-nav li.selected > .has-arrow::after,*/
.sidebar-nav li.active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%);
}


/*******************
sidebar footer
******************/
.sidebar-footer {
    background: $gray-100;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    transition: 0.2s ease-out;
    width: 240px;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    a {
        text-align: center;
        font-size: 18px;
        &.link {
            color: #455a64;
        }
        &:hover {
            color: $themecolor;
        }
    }
    .link-wrap {
        padding: 15px;
        text-align: center;
    }
}
